.section {
  padding: 50px 0;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 20%;
}